  * .fonts {
    color: white;
    font-color: #FFFFFF;
  }


  .banner-message {
      font: verdana;
      font-variant: small-caps;
      font-size: 16pt;
      font-stretch: extra-expanded;
      font-color: white;
  }

  .main-container {
    font: verdana;
    font-variant: small-caps;
    font-size: 16pt;
    font-stretch: extra-expanded;
  }

  .head-bar {
  font: lucida;
  font-color: white;
  background-color: #0D0D0D;
  position: center;
  font-size: 40pt;
  font-stretch: extra-expanded;
  font-style: oblique;
  }

  .contact-heading  {
  font: lucida;
  font-color: white;
  background-color: #0D0D0D;
  position: center;
  font-size: 20pt;
  font-stretch: extra-expanded;
  }

.address  {
  postion: center;
  top: 13em;
  left: 5em;
  }

.body-body  {

  font-size: 18pt;
  font-style: normal;
  text-transform: capitalize;
}

    /*About Page*/

    .about-us {
      z-index: 4;
       position: absolute;
       width: 20px;
       height: 15px;
       top: 500px;
       right: 2850px;
       adding-top: 15em;
       padding-bottom: .5em;
       color: white;
    }


/*Body of Services Page*/

.third-picture  {
  font: lucida;
  float: left;
  position: center;
  font-size: 30pt;
  font-stretch: extra-expanded;
  font-style: italic;
  background-color: #BFD2D2;
  border: 12pt;
  border-width: 35px;


}
    /*ABOUT PAGE*/

    .paragraph-border {
      font: times;
      font-variant: small-caps;
      position: center;
      font-size: 30pt;
      font-stretch: extra-expanded;
    }

    .about-Bellafiore {
      z-index: 5;
       position: absolute;
       width: 20px;
       height: 15px;
       top: 500px;
       right: 2850px;
       adding-top: 15em;
       padding-bottom: .5em;
       color: #FFFFFF;
    }

    /*Body of Services Page*/

    .inquiries {
      font: times;
      font-variant: small-caps;
      position: absolute;
      font-size: 30pt;
      font-stretch: extra-expanded;
    }

    .bottom-line {
      font: verdana;
      font-variant: small-caps;
      position: absolute;
      font-size: 30pt;
      font-stretch: extra-expanded;
      margin-bottom: 1em;

    }
