
* {
    font-family: 'Arvo';
  }

  .body  {
    position: right;
    background-color: #black;
  }

  /* Home Page */

  .main-container {
    color: black;
    font-size: 23;
  }

  .head-bar {
    text-align: center;
    text-color: white;
    position: center;
    margin: 2em;
    background-color: black;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .white-block {
    z-index: 8;
    height: 670px;
    width: 100;
    position: absolute;
    top: 60px;
    background-color: floralwhite;
    margin: 10px 50px 10px 50px;
    }

    .banner-message {
      .main-container
      font: verdana;
      font-variant: small-caps;
      font-size: 16pt;
      font-stretch: extra-expanded;
      font-color: white;
    }

  .body-text  {
    position: center;
    }

  .body-body  {
    background-color: black;
    position: fixed;
    top: 100px;
    left: 10px;
    max-width: inherit;
    max-height: inherit;
    maxlength: inherit;
    font-size: 3em;
    text-align: center;
    color: #000;
    padding-top: 20em;
    padding-bottom: 15em;
  }


    /* Contact Page */

  .contact-heading  {
    text-align: center;
    text-color: floralwhite;
    position: center;
    margin: .0001em;
    background-color: black;;
    padding-top: .01em;
    padding-bottom: 25em;
    }

    .contact-body {
      color: white;
      background-color: black;
      z-index: 1em;
      margin: 0px 0px 0px 0px;
      padding-bottom: 20%;
      padding-top: -20%;
  }
    .flowers  {
      position: absolute;
      opacity: inherit;
    }

    .bottom-line{
      margin: 250px 225px -19px 250px;
    }
