
* {
    font-family: 'Arvo';
  }

  .body  {
    position: right;
    background-color: #black;
  }

  /* Home Page */

  .main-container {
    color: black;
    font-size: 23;
  }

  .white-block {
    z-index: 8;
    height: 670px;
    width: 100;
    position: absolute;
    top: 60px;
    background-color: floralwhite;
    margin: 10px 50px 10px 50px;
    }
  

    .banner-message {
      .main-container
      font: verdana;
      font-variant: small-caps;
      font-size: 16pt;
      font-stretch: extra-expanded;
      font-color: white;
    }

   .body-body  {
    background-color: black;
    position: fixed;
    top: 100px;
    left: 10px;
    max-width: inherit;
    max-height: inherit;
    maxlength: inherit;
    font-size: 3em;
    text-align: center;
    padding-top: 20em;
    padding-bottom: 15em;
  }

    /* About Page */

    .about-Bellafiore {
      z-index: 5;
       position: absolute;
       width: 20px;
       height: 15px;
       top: 500px;
       right: 2850px;
       adding-top: 15em;
       padding-bottom: .5em;

    }


    /* Contact Page */

  .contact-heading  {
    text-align: center;
    text-color: floralwhite;
    position: center;
    margin: .0001em;
    background-color: black;;
    padding-top: .01em;
    padding-bottom: -20em;
    }

    .inquiries {
      font: times;
      font-variant: small-caps;
      position: absolute;
      font-size: 30pt;
      font-stretch: extra-expanded;
      margin-left: 2000px;
      margin-top: -1900px;
    }

    .contact-body {
      color: white;
      background-color: black;
      z-index: 1;
      margin: 0px 0px 0px 0px;
      padding-bottom: 20%;
      padding-top: 0%;
   }

    .bottom-line  {
      margin: 250px 225px -19px 250px;
    }
