
* {
    font-family: 'Arvo';


}

  .body  {
    position: right;
    background-color: #dc143c;

  }

  /* Home Page */

  .main-container {
    color: #DC143C;
    font-size: 23;

  }

  .head-bar {
    text-align: center;
    text-color: white;
    position: center;
    margin: 2em;
    background-color: #DC143C;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .white-block {
    z-index: 8;
    height: 670px;
    width: 100;
    position: absolute;
    top: 60px;
    background-color: floralwhite;
    margin: 10px 50px 10px 50px;

    }

  .body-text  {
    position: center;
    }

  .body-body  {
    background-color: #dc143c;
    position: fixed;
    top: 100px;
    left: 10px;
    max-width: inherit;
    max-height: inherit;
    maxlength: inherit;
    font-size: 3em;
    text-align: center;
    color: #000;
    padding-top: 20em;
    padding-bottom: 15em;
  }


    /* Contact Page */

  .contact-heading  {
    text-align: center;
    text-color: floralwhite;
    position: center;
    margin: .0001em;
    background-color: black;;
    padding-top: .01em;
    padding-bottom: 25em;
    }

    .contact-body {
      color: white;
      background-color: black;
      z-index: 1em;
      margin: 0px 0px 0px 0px;
      padding-bottom: 20%;
  }
    .flowers  {
      position: fixed;
      opacity: inherit;


    }
